<h2>Por Capital</h2>
<!--llamado al evento (onDebounce)="searchByCapital($event)-->
<hr />

<div class="row">
  <div class="col">
    <!--searchbox-->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar capital"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <!--condicion para mostrar el spinner-->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
